<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Register - Carto</title>
  <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
   
  <header>
    <h2>Register to Carto</h2>
  </header>

  <form action="/register" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />

    <button type="submit">Register</button>

    <p class="account-link">
  Already have an account? 
  <a href="/login">Login here</a>
</p>

  </form>
  
</div>
  <footer>&copy; 2025 Carto. All rights reserved.</footer>
</body>
</html>
